body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #614747;
}

.stopwatch {
    text-align: center;
    background-color: #c4beb7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.controls button {
    font-size: 16px;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start {
    background-color: #4CAF50;
    color: white;
}

#stop {
    background-color: #f44336;
    color: white;
}

#reset {
    background-color: #2196F3;
    color: white;
}

#lap {
    background-color: #138e6b;
    color: white;
}

.controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.controls button:hover:not(:disabled) {
    opacity: 0.8;
}

.laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 150px;
    overflow-y: auto;
}

.laps li {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}
